.game-console {
    position: relative;
    width: 758px;
    height: 502px;
    border-radius: 18px;
    z-index: 45;
}

.bg-door {
    position: relative;
    width: 758px;
    height: 502px;
    z-index: 50;
    border-radius: 18px;
}

.flashing-door {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 52;
}

#cat-state {
    position: absolute;
    z-index: 53;
    width: 758px;
    height: 336px;
    top: 130;
}

#mice-canvas-1, #mice-canvas-2, #mice-canvas-3, #mice-canvas-4 {
    position: absolute;
    z-index: 56;
    width: 758px;
    height: 336px;
    top: 130;
}

.top-console {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 55;
    color: white;
}

.top-console li {
    padding: 20px;
    font-size: 36px;
    letter-spacing: 1px;
    font-family: 'KoHo', sans-serif;
}
