.content-main {
    position: relative;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 45;
}

.content-main h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 64px;
    color: rgb(42, 40, 40);
}

.content-main h2 {
    font-family: 'Archivo', sans-serif;
    letter-spacing: 2px;
    font-size: 36px;
}

#highest-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

#game-title {
    margin-bottom: 15px;
}

#game-title h1 {
    font-family: codigra;
    font-size: 96px;
    text-shadow: -2px 2px 3px #939393;
    letter-spacing: 7px;
}

@media only screen and (max-width: 924px) {
    #game-title h1 {
        font-size: 82px;
    }
}