#nav-links {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    right: 0;
    z-index: 50;
}

#nav-links img {
    width: 60px;
    height: 60px;
}

#game-title{
    display: flex;
}

