.hidden {
    display: hidden;
}

#game-canvas {
    position: absolute;
    border-radius: 18px;
}

#start-game {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #404040;
    opacity: 0.9;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
